[defaults]
cache = True
cache_plugin = jsonfile
cache_connection = ~/.cache/ansible
cache_timeout = 3600

roles_path = roles
inventory = inventory
timeout = 30
# remote_user = artem

#vault_password_file = .vault
host_key_checking = False 
# [privilege_escalation]
# become = true 
