[defaults]
cache = True
cache_plugin = jsonfile
cache_connection = ~/.cache/ansible
cache_timeout = 3600

roles_path = roles
timeout = 30
host_key_checking = False 
# inventory = inventory
# remote_user = artem
#vault_password_file = .vault
# [privilege_escalation]
# become = true 
